@import 'node_modules/bootstrap/scss/bootstrap.scss';
$primary: #385;
// $primary: purple;
$grey: #666;


/*
@function set-button-text-color($color) {  
    @if (lightness( $color ) > 40) {
      @return black;
    }
    @else {
      @return white;
    }
}
*/
body {
	
	color: #666;
}
.intro {
	background: $primary;
	padding: 60px 0;
		h1, p {
			color: #fff;
		}
		.lead {
			color: lighten($primary, 50%);
		}
}
main {
	padding-bottom: 40px;

		h2 {
			font-size: 1.35rem;
			font-weight: 600;
			color: lighten($primary, 10%);
		}
}

footer {
	padding: 40px 0 20px 0;
	background: lighten($grey, 50%);
	color: lighten($grey, 25%);
}